= form_for(@post) do |f|
	.item
		#title
			= label_tag(:title, t('title'), :class => "form-label")
			= f.text_field :title, :size => "60"
		#textbody
			= label_tag(:textbody, t('textbody'), :class => "form-label")
			= f.text_area :textbody, :size => "60x10"
		#button
			= submit_tag t('update'), :class => "button"