.item
	.itemheader
		= @post.title
	.itemcontent
		=@post.textbody

%br
= render :partial => "shared/commentForm"
%br	


- if (@comments.count > 0)
	%h2
		= t('comments') + " " + @comments.count.to_s + ":"	
	- @comments.each do |c|
		.itemheader
			= c.textbody
- else
	= t('nocomments')
