.item
	.itemheader
		= @post.title
	.itemcontent
		%h4
			= @post.user.email
			= t('wrote_at')
			%span.post-date
				= @post.created_at.strftime("%Y-%m-%d %H:%M")		
		= @post.textbody
		
		%h5
			- @post.tags.each do |t|
				= link_to t.name, "/tag/" + t.name
				
		%hr
		- if user_signed_in?
			- if (current_user.id == @post.user_id)
				.controls
					.edit
						= button_to t('edit'), edit_post_path(@post), :class => "button", :method => :get
					.delete
						= button_to t('delete'), post_path(@post), :class => "button", :method => :delete
		%br

%br
= render :partial => "shared/commentForm"
%br	


- if (@comments.count > 0)
	%h2
		= t('comments') + " " + @comments.count.to_s + ":"	
	- @comments.each do |c|
		.itemheader
			= c.textbody
			
- else
	= t('nocomments')
